* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.header__logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #038de9;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.header__logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: #038de9;
    padding: 20px;
    width: 800px;
}

.header__list {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding: 0px 100px;
}

.header__list li {
    margin-left: 20px;
}

.header__list li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    margin: 30px;
}

.header__list li a:hover {
    color: #747474;
}

img {
    max-width: 100%;
}
.container {
    max-width: 90%;
    margin: auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    font-size: 25px;
    color: #038de9;
    text-transform: uppercase;
    font-weight: 800;
    height: 100px;
}
.navbar {
    background-color: #08a4ec6e;
    border-radius: 40px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #038de9;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.submenu {
    position: relative;
}
.submenu #carrito {
    display: none;
}
.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 500px;
}
table {
    width: 100%;
}
th,
td {
    color: #ffffff;
}
.borrar {
    background-color: #038de9;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

span {
    color: #038de9;
    font-size: 35px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}
.butons {
    display: flex;
}
.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #038de9;
    margin-right: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 100px;
}
.header-img {
    flex-basis: 50%;
    text-align: center;
}
.header-img img {
    height: 550px;
}
.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.ofert-1 img {
    width: 75%;
    height: auto; /* Esto mantiene la proporción de la imagen */
}

.b1 {
    background-color: #91ddd8;
}
.b2 {
    background-color: #fa9824;
}
.b3 {
    background-color: #9bce21;
}
.ofert-txt {
    flex-basis: 50%;
}
.ofert-txt h3 {
    color: #ffffff;
    font-size: 20px;
}
.ofert-txt a {
    color: #ffffff;
}
.ofert-img {
    flex-basis: 50%;
}
.products {
    padding: 0 0 50px 0;
    text-align: center;
}
h2 {
    font-size: 40px;
    color: #111419;
}
.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.box {
    border-top: 2px solid #038de9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6fafb;
    display: none;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}
.box img {
    height: 200px;
}
.produc-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}
.produc-txt p {
    margin-bottom: 25px;
    color: #515557;
}
.precio {
    font-size: 17px;
    font-weight: 700;
    color: #ff9100;
}
.btn-2,
.btn-3 {
    background-color: #038de9;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-2:hover,
.btn-3:hover,
.btn-1:hover {
    background-color: #13462e;
}
.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}
.testimonial {
    padding: 100px 0;
    text-align: center;
}
.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.testimonial-1 {
    flex-basis: calc(50% - 20%);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 5px solid #038de9;
}
.testimonial-1 img {
    width: 100%;
}
.testimonial-1 h4 {
    font-size: 17px;
    color: #111419;
}

/* des de esta parte se inicia a modificar  el pie de pagina*/
footer {
    background-color: #747474;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-info {
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
}
.footer-social a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Estilos de los íconos de redes sociales (reemplaza con tus propias imágenes) */
.footer-social img {
    width: 80px;
    height: 80px;
}

@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #038de9;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .logo {
        display: none;
    }
    .menu .navbar ul li a:hover {
        color: #ffffff;
    }
    .submenu:hover #carrito {
        width: 100%;
    }
    .header__logo {
        margin-bottom: 20px;
        justify-content: center;
        margin: auto;
        padding: 10px;
    }
    .header__nav {
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
    }
    .butons {
        justify-content: center;
    }
    .btn-1 {
        margin-bottom: 0;
    }
    .header img {
        display: none;
    }
    .oferts {
        padding: 30;
        flex-direction: column;
    }
    .ofert-1 {
        margin-bottom: 15px;
    }
    .products {
        padding: 0 30px 30px 30px;
    }
    .testimonial {
        padding: 30px;
    }
    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;
    }
    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }
}
